---
import { team } from '../data/team.js'
import { Instagram } from './Icons/Instagram'
---

<article class='box'>
  <ul class='w-full flex flex-col md:grid md:grid-cols-3 gap-3'>
    {
      team.map((team) => (
        <li class='rounded-xl w-full bg-first-600 py-7 px-5 border-4 border-first-500 text-center max-w-2xl mx-auto'>
          <figure>
            <picture class='w-full flex justify-center pb-5'>
              <img
                src={team.img}
                alt={`foto ${team.name}`}
                class='w-32 h-32 rounded-full object-cover drop-shadow-sm bg-first-800'
              />
            </picture>
            <figcaption class='flex flex-col gap-1'>
              <h2 class='text-2xl font-extrabold text-third-400'>
                {team.name} {team.lastName}
              </h2>
              <p class="text-xl text-white/95">{team.position}</p>
              <p class='texto whitespace-nowrap overflow-hidden text-ellipsis py-5 text-left'>
                {team.description}
              </p>
              <a
                href={team.instagram}
                class='self-center w-12 p-0 text-third-200 active:translate-y-[1px] active:translate-x-[1px]'
              >
                <Instagram />
              </a>
            </figcaption>
          </figure>
        </li>
      ))
    }
  </ul>
</article>

<script>
  const texto = document.querySelectorAll('.texto')
  texto.forEach((text) => {
    text.addEventListener('click', () => {
      text.classList.toggle('whitespace-normal')
        ? text.classList.remove('whitespace-nowrap')
        : text.classList.add('whitespace-nowrap')
    })
  })
</script>
