---
import { team } from '../data/team.js'
import { Instagram } from './Icons/Instagram'
---

<article class='box'>
  <ul
    class='w-full flex flex-col md:grid md:grid-cols-3 gap-3 md:place-items-center'
  >
    {
      team.map((team, id) => (
        <li
          class='rounded-xl w-full bg-first-600/90 py-7 px-5 border-4 [&>figure>picture>img]:hover:bg-first-500 [&>figure>picture>img]:hover:scale-105
        border-first-400 hover:border-first-300 hover:bg-first-600/50 transition-colors [&>figure>figcaption>button]:hover:bg-second-500 duration-300 text-center
          max-w-2xl mx-auto'
        >
          <figure class='gap-5 flex flex-col'>
            <picture class='w-full flex justify-center'>
              <img
                src={team.img}
                alt={`foto ${team.name}`}
                class='w-32 h-32 rounded-full cursor-pointer transition-transform duration-75 object-cover drop-shadow-sm bg-first-900 tooltip-button'
                id='button'
                aria-describedby={`tooltip-${id}`}
              />
            </picture>
            <figcaption class='flex flex-col gap-1'>
              <h2 class='text-2xl font-extrabold text-third-400'>
                {team.name} {team.lastName}
              </h2>
              <p class='text-xl text-white/95'>{team.position}</p>
              <div
                id='texto'
                aria-describedby='tooltip'
                class='[&>p]:whitespace-nowrap [&>p]:overflow-hidden [&>p]:text-ellipsis text-left'
                set:html={team.description[0]}
              />
              <button class='texto border-2 cursor-pointer self-center py-1 px-3 border-second-500 my-3 rounded-lg'>
                Conóceme
              </button>

              <a
                href={team.instagram}
                class='self-center w-12 p-0 active:translate-y-[1px] active:translate-x-[1px] logo'
              >
                <Instagram />
              </a>

              <div
                id={`tooltip-${id}`}
                role='tooltip'
                class='tooltip hover:block pointer-events-auto/important shadow-2xl shadow-black hidden w-max max-w-[93%] md:max-w-2xl absolute text-left top-0 left-0 border-4 border-second-500 bg-white text-first-900 font-semibold p-4 rounded-md text-base z-30'
              >
                <div set:html={team.description} />
                <div
                  id='arrow'
                  class='absolute bg-white w-2 h-2 transform rotate-45 arrow'
                />
              </div>
            </figcaption>
          </figure>
        </li>
      ))
    }
  </ul>
</article>

<style lang='scss'>
  .logo {
    animation: ease-in animate-color;
    animation-timeline: view();
    //  color: #ffc301;
  }
  @keyframes animate-color {
    0% {
      color: hsl(41, 99%, 50%);
    }
    25% {
      color: hsl(169, 100%, 59%);
    }
    50% {
      color: hsl(169, 100%, 79%);
    }
    75% {
      color: hsl(169, 100%, 59%);
    }
    100% {
      color: hsl(44, 100%, 30%);
    }
  }
</style>

<script src='../hooks/TooltipConf.ts'></script>
