---
import { team } from '../data/team.js'
import { Instagram } from './Icons/Instagram'
---

<article class='box'>
  <ul
    class='w-full flex flex-col md:grid md:grid-cols-3 gap-3 md:place-items-center'
  >
    {
      team.map((team, id) => (
        <li class='rounded-xl w-full bg-first-600 py-7 px-5 border-4 border-first-500 text-center max-w-2xl mx-auto'>
          <figure>
            <picture class='w-full flex justify-center pb-5'>
              <img
                src={team.img}
                alt={`foto ${team.name}`}
                class='w-32 h-32 rounded-full object-cover drop-shadow-sm bg-first-800 tooltip-button'
                id='button'
                aria-describedby={`tooltip-${id}`}
              />
            </picture>
            <figcaption class='flex flex-col gap-1'>
              <h2 class='text-2xl font-extrabold text-third-400'>
                {team.name} {team.lastName}
              </h2>
              <p class='text-xl text-white/95'>{team.position}</p>
              <div
                id='texto'
                aria-describedby='tooltip'
                class='[&>p]:whitespace-nowrap [&>p]:overflow-hidden [&>p]:text-ellipsis py-5 text-left'
                set:html={team.description[0]}
              />
              <a
                href={team.instagram}
                class='self-center w-12 p-0 active:translate-y-[1px] active:translate-x-[1px] logo'
              >
                <Instagram />
              </a>

              <div
                id={`tooltip-${id}`}
                role='tooltip'
                class='tooltip hidden w-max max-w-[93%] md:max-w-2xl absolute text-left top-0 left-0 border-4 border-second-500 bg-white text-first-900 font-semibold p-4 rounded-md text-base z-30'
              >
                <div set:html={team.description} />
                <div
                  id='arrow'
                  class='absolute bg-white w-2 h-2 transform rotate-45 arrow'
                />
              </div>
            </figcaption>
          </figure>
        </li>
      ))
    }
  </ul>
</article>

<style lang='scss'>
  .logo {
    animation: linear animate-color;
    animation-timeline: view();
    /* color: #ffc301; */
  }
  @keyframes animate-color {
    0% {
      color: #feae01;
    }
    10% {
      color: #ffbc01;
    }
    20% {
      color: #ff0b5d;
    }
    30% {
      color: #fe0060;
    }
    40% {
      color: #fd01c6;
    }
    50% {
      color: #e304e3;
    }
    60% {
      color: #fff;
    }
    70% {
      color: #ff0785;
    }
    80% {
      color: #ee01db;
    }
    90% {
      color: #db05e3;
    }
    100% {
      color: #fff;
    }
  }
</style>

<script src='../hooks/TooltipConf.ts'></script>
