---
import { team } from '../data/team.js'
import { Instagram } from './Icons/Instagram'
---

<article class='box z-[-1]'>
  <ul
    class='ul snap-x snap-mandatory overflow-x-auto w-full flex gap-4 md:gap-8 sm:place-items-center overflow-y-hidden z-10'
  >
    {
      team.map((team, id) => (
        <li
          class='mb-6 snap-always snap-center picture relative rounded-xl w-[80%] md:w-[27%] bg-first-600/90 py-7 px-5 border-4 [&>figure>picture>img]:hover:bg-first-500 group
        border-first-400 hover:border-first-300 hover:bg-first-600/50 transition-all [&>figure>figcaption>button]:hover:bg-second-500 duration-150 text-center
          max-w-2xl mx-auto [&>figure>figcaption>a]:hover:bg-first-950/50 hover:shadow-[rgba(224,_75,_0,_0.6)_0px_0px_20px]'
        >
          <figure class='gap-5 flex flex-col'>
            <picture class='img self-center transition-all justify-center w-fit h-fit cursor-pointer overflow-hidden bg-first-900 rounded-full'>
              <img
                src={team.img}
                alt={`Miemro del equipo ${team.name}`}
                loading='lazy'
                class='transition-all w-[8rem] h-[8rem] group-hover:scale-105 rounded-full duration-100 object-cover drop-shadow-sm tooltip-button'
                id='button'
                aria-describedby={`tooltip-${id}`}
              />
            </picture>
            <figcaption class='flex flex-col gap-1'>
              <h2 class='text-2xl font-extrabold text-third-400 overflow-hidden text-ellipsis whitespace-nowrap'>
                {team.name} {team.lastName}
              </h2>
              <h3 class='text-xl text-white/95 overflow-hidden text-ellipsis whitespace-nowrap'>
                {team.position}
              </h3>
              <div
                id='texto'
                aria-describedby='tooltip'
                class='[&>p]:whitespace-nowrap [&>p]:overflow-hidden [&>p]:text-ellipsis text-left'
                set:html={team.description[0]}
              />
              <button
                class='
                texto border-2 hover:border-second-300 cursor-pointer self-center py-1 px-3 border-second-500 my-3 rounded-lg
                active:translate-y-[1px] transition-all translate-x-[1px]
                '
              >
                Conóceme
              </button>

              <a
                target='_blank'
                href={team.instagram}
                class='self-center w-[3.5rem] p-1 hover:p-[2px] transition-all duration-75 rounded-full active:translate-y-[1px] active:translate-x-[1px] logo'
                aria-label={`Instagram de ${team.name}`}
              >
                <Instagram />
              </a>

              <div
                id={`tooltip-${id}`}
                role='tooltip'
                class='tooltip hover:block pointer-events-none shadow-xl shadow-black/20 hidden w-[80ch] max-w-[120%] md:max-w-2xl absolute
                text-left top-0 left-0 border-4 border-second-500 bg-white text-first-700 font-semibold p-4 rounded-md text-sm z-[90]'
              >
                <div set:html={team.description} />
                <div
                  id='arrow'
                  class='absolute bg-white w-2 h-2 transform rotate-45 arrow'
                />
              </div>
            </figcaption>
          </figure>
        </li>
      ))
    }
  </ul>
</article>

<script src='../hooks/TooltipConf.ts'></script>
